# Day 1 Exercises

In this exercise, we will review python basics.

## Variables

### Create variables

Let's start with a very simple exercise of creating new variables



1.   Variable called var_a with value of 3
2.   Variable called var_b with value of 100
3.   String variable str_var_a with value of "ESS-3H"
4.   String variable str_var_a with value of "Introduction to Python for Social Scientists"

### Variable operations



*   Add var_a and var_b
*   Subtract var_a from var_b
*   Multiply var_a and var_b
*   Divide var_b by var_a

## Saving

- Before going to the next section, let's save the work on github or google drive

## Lists

### Create lists

1. Create a list, list_a, with values of 1, 3, 4, 5, 9, 2, 4.5
2. Create a list, list_b, with words from "this is a simple string list" 
  - You can type all or use `*.split` method

### Slicing lists

- From the first list, extract a sublist with elements of:
    -   1, 3, 4
    -   9, 2, 4.5
    -   4, 5, 9

## Manipulating lists

- Append an element (e.g. 100) to list_a
- Replace the second element of list_a to 12

### Concatenate lists

- Concatenate list_a and list_b
- Use `+`

### Copying lists

Do the following operations
- Assign `lsit_a` to `list_a2`
- Change the value of `list_a2[0]` to 7
- Check the value of `list_a` and `list_a2`

What do you find?

## Dictionary

- create a dictionary with the follwoing key-value pairs
    *   a: 10
    *   b: 20
    *   c: 70
- add some new key and value

## Control sequence

### For loop

- Create a sequence of integers from 3 to 10
- Use control sequence to print each item of this list

- Use the dictionary above, print all key and value pairs

### While loop

- Create a scaler, $x$, with initial value of 0
- Run while loop to add 1 to $x$ in each iteration, and terminate at 10

## Functions

Create following functions
1. Caclulate the sum of two numbers
2. Calculate the sum of two numbers but the second number has the default value of 3
3. Take an argument of a number array, return the sum of it
4. Take an argument of a number array, return the sum of it excluding null (None) element

## List comprehension

From the following list, create a list without None

```
list_original = [1, 8, 3, 12, None, 7, None, 100, 9]
```